@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ===== variable define ====== */
/*
 ==============================
custom scrollbar 
==============================
 */

/* custom css design  */

/* header design  */

/* section 1 top-banner design   */

/* section 2 counter  */

/* section 3 about  */

/* section 4 story   */

/* section 5 explore food   */

/* section 6 testimonial   */

/* section 7 faq   */

/* section 8 book food   */

/* section 9 newsletter   */

/* section 10 footer   */
